body {
  background-color: rgb(1, 116, 190);
}

form {
    border: 3px solid #0C356A;
  }
  
  label {
    color: #FFF0CE;
    background-color:  #0C356A;
    padding: 6px;
    border-radius: 3px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #FFF0CE;
    border-radius: 3px;
  }
  
  
  button {
    background-color: rgb(255, 196, 54);
    color: rgb(12, 53, 106);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
  }
  
 
  button:hover {
    opacity: 0.8;
  }
  
 
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  
  
  
  .container {
    padding: 16px;
    padding-top: 180px;
  }
  
  
  span.ssana {
    float: right;
    padding-top: 16px;
  }
  
  
  @media screen and (max-width: 300px) {
    span.ssana {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  /*navbar koodi alkaa tästä*/
  .moi .navbar{
    position: fixed;
    top: 0;
    width:100%;
    background:rgba(0, 0, 0, 0.3);
    margin:2% 0 0 0;
    padding:10px 0;
    display: flex;
    align-items: center;
  }

  .moi .navbar ul {
    position: relative;
    height:100%;
    width:50%;
    font-family:'cinzel',sans-serif;
    font-size: 25px;
    font-weight:600;
    right: -45%;
  }

  .moi .navbar ul li{
    list-style-type: none;
    display: inline-block;
    border:1px solid #FFF0CE;
    border-radius: 2px;
    padding:10px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    cursor: pointer;
  }

  .moi .navbar ul li a{
    list-style-type: none;
    display: block;
    color:#FFF0CE;
    text-decoration: none;
  }

  .moi .navbar ul li:hover{
    background:rgba(0, 0, 0, 0.4);
  }